/*body {*/
/*    background-color: #181717;*/
/*}*/

.contato-container {
    /*min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #181717;

}

.foto-contato {
    width: 100%;
    border-radius: 10px;
}

.info-contato {
    color: #ebe9e9;
    text-align: start;
    margin: 20px;
    line-height: 50px;
    font-size: 17px;
    text-align: center;

}

.map-container {
    height: 300px;
}

.addressInfo {
    width: 100%;
    display: flex;
    margin: 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.addressInfo img {
    width: 350px;
    height:350px;
    object-fit: cover;
    margin: 30px;

}

.navbar-menu {
    margin-bottom: 0px !important;
}
