
.menuButtonContainer {
    display: flex;
}
.menuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 40px;
    margin-bottom: 80px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuButton img {
    height: 100px;

    object-fit: cover ;
    border-radius: 0;
    margin-bottom: 10px;
}

.img-botao img{
    width: 150px;
    height: 150px;
    object-fit: cover ;
    border-radius: 5px;
    margin-bottom: 50px;
}

.menuButton h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
    /*margin-bottom: 100px;*/
    font-family: 'Poppins', sans-serif;
    color: #9f8ad0;
}

.menuButton:hover,
.activeButton {
    opacity: 1 !important;
    transform: scale(1.05);
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:40px;
    height:100%;
}

.menuItem {
    padding: 15px;
    margin: 10px;
    margin-bottom: 100px;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
    transition: transform 0.3s ease-in-out;
    color: #000000;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.menuItem:hover {
    transform: scale(1.05);
}

.menuItem img {
    height: 180px;
    width: 180px;
    object-fit: cover ;
    border-radius: 200px;
    margin-top: -80px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgb(0, 0, 0);

}

h3 {
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.size {
    font-size:12px;
    color: rgb(16, 17, 17);
}
.name-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.price {
    font-weight: bold;
    color: #101111;
    font-size: 20px;
    margin:5px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-menu {
    position:unset !important;
    background-color: #101111;
    width: 100%;
    padding: 5px !important;
    margin-bottom: 65px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-pages-menu {
    width: fit-content;
    margin: 10px;
}
.logo-menu {
    height: 80px !important;
    margin: 10px;
    margin-bottom: 25px;

}

.info-box {
    display: flex;
}

.menuSection {
    display:flex;
    flex-direction: row;
}