body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CreatedBy {
  background-color: #fffafa;
  color: #131212;
  text-align: center;
  padding: 5px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.CreatedBy p {
  margin: 0;
}

.CreatedBy a {
  color: #030303;
  text-decoration: underline;
}